*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#nav{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 2px 5px 6px rgb(248, 62, 6);
    background-color: rgb(238, 20, 122);

}
#nav>a{
    height: 73px;
    font-size: 21px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(8, 245, 213, 0.911);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
#nav>a:hover{
    transform: scale(1);
    color:rgb(169, 17, 240);
}
#fromBox{
    height: 100vh;
    width: 100%;
    background-color: rgb(151,52,255);
    /* background-image: url("./pic.png"); */
    display: flex;
    align-items: center;
    justify-content: center;
}

#fromBox>form{
    height: 360px;
    width: 300px;
    background-color:rgb(255,255,255);
    color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}
#fromBox>form>button{
    height: 30px;
    width: 100px;
    background-color: rgb(14, 146, 255);
    color: rgb(252, 189, 72);
    border: none;
    border-radius: 50px;

}
#fromBox>form>button{
 transform: scale3d(1.2);
 cursor: pointer;   
}

#usr>table{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 0;
    border-radius: 4px;
}
#usr>table>tr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
#usr>table>tr>th{
    background-color: rgb(211, 245, 17);
    color: antiquewhite;
    height: 40px;
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#usr>table>tr>td{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 34%;
    border: 2px solid rgb(64, 61, 61);
    border-spacing: 0;
    background-color: burlywood;
}
#usr>table>tr>td>button{
    background-color: black;
    color: rgb(229, 212, 116);
    height: 25px;
    width: 55px;
    border-radius: 6px;
    border: 0;
    margin-left: 25px;
    
}
#usr>table>tr>td>button>a{
    color: rgb(229, 212, 116);
    text-decoration: none;

}